{% extends '::adminmenu.html.twig' %}

{% block body %}
   <center> <h1>Atliktų mokėjimų už narystę sąrašas</h1></center>

    <center><form method="get" action="">
        <p>Pasirinkite intervalą:</p>
        <label for="from">Nuo:</label>
        <input type="text" id="from" name="from">
        <label for="to">Iki:</label>
        <input type="text" id="to" name="to">
            </br>
        <input type="submit" class="btn btn-info" value="Ieškoti apmokėjimų" />
    </form>
    <p>ARBA</p>
    <form method="post" action="">
        <p>Įrašykite norimo surasti varotojo el. paštą:</p>
        <label for="from">El. paštas:</label>
        <input type="text" id="emailSearch" name="emailSearch">
        <input type="submit" class="btn btn-info" value="Ieškoti apmokėjimų" />

    </form>
    </center>
    <center>
        <div style="width:50%">
    <table id="PagalData"class="table table-striped">
        {%  if narystes|length!=0 %}
            <h3 id="label" class="divTitle">Atliktų mokėjimų sąrašas pagal datą</h3>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nario ID</th>
                <th>Banko kortelės nr.</th>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th>El. paštas</th>
                <th>Asmens kodas</th>
                <th>Suma</th>
                <th>Narystės pradžia</th>
                <th>Narystės pabaiga</th>
            </tr>
            </thead>
        <tbody>

        {% for naryste in narystes %}

            <tr>
                <td>{{ naryste.id }}</td>
                <td>{{ naryste.narioId }}</td>
                <td>{{ naryste.bankoKortNumeris }}</td>
                <td>{{ naryste.vardas }}</td>
                <td>{{ naryste.pavarde }}</td>
                <td>{{ naryste.elPastas }}</td>
                <td>{{ naryste.asmensKodas }}</td>
                <td>{{ naryste.suma }}€</td>
                <td>{{ naryste.narystesPradzia|date('Y-m-d')}}</td>
                <td>{{ naryste.narystesPabaiga|date('Y-m-d') }}</td>

            </tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>
        </div>
    </center>
    <center>
        <div style="width:50%">
    <table id="PagalAsmeni" class="table table-striped">
        {%  if asmensnarystes|length!=0 %}
        {% if narystes|length!=0 %}
        <script>var tabledata=document.getElementById("PagalData");
        var lbl=document.getElementById("label");
        lbl.parentNode.removeChild(lbl);
         tabledata.parentNode.removeChild(tabledata)</script>
        {% endif %}
            <h3 class="divTitle">Konkretaus asmens atliktų mokėjimų sąrašas</h3>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nario ID</th>
                <th>Banko kortelės nr.</th>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th>El. paštas</th>
                <th>Asmens kodas</th>
                <th>Suma</th>
                <th>Narystės pradžia</th>
                <th>Narystės pabaiga</th>
            </tr>
            </thead>
            <tbody>
            {% for naryste in asmensnarystes %}

                <tr>
                    <td>{{ naryste.id }}</td>
                    <td>{{ naryste.narioId }}</td>
                    <td>{{ naryste.bankoKortNumeris }}</td>
                    <td>{{ naryste.vardas }}</td>
                    <td>{{ naryste.pavarde }}</td>
                    <td>{{ naryste.elPastas }}</td>
                    <td>{{ naryste.asmensKodas }}</td>
                    <td>{{ naryste.suma }}€</td>
                    <td>{{ naryste.narystesPradzia|date('Y-m-d')}}</td>
                    <td>{{ naryste.narystesPabaiga|date('Y-m-d') }}</td>

                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
    </table>
        </div>
    </center>
    <center>
        <br> <input  type="button" value="Grįžti į mokėjimo tipų langą"  class="btn btn-danger" onclick="window.location.href='/admin/mokejimai'"></center>


    <style>
        table.ui-datepicker-calendar{
            border: 2px solid black;
            background-color: #eff5f5;
            padding: 10px;
            border-spacing: 10px;
            border-collapse: separate;
            width: 100%;
        }

        .ui-datepicker-title {
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            padding: 2px;
            border-top: 2px solid black;
            border-right: 2px solid black;
            border-left: 2px solid black;
            border-bottom: 2px solid black;
            background-color: #bfd9d9;
            height: 35px;
        }

        .ui-datepicker-header{
            background:-color: white;
        }

        .ui-datepicker-prev {
            margin:auto;
            float: left;
            cursor: pointer;
            background-position: center -30px;
            font-weight: bold;
            padding: 10px;
        }

        .ui-datepicker-next {
            float: right;
            cursor: pointer;
            background-position: center 0px;
            font-weight: bold;
            padding: 10px;
        }
    </style>



    {% block javascripts %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
        <script>
            $( function() {
                var   from = $( "#from" )
                    .datepicker({
                        changeMonth: true,
                        changeYear: true,
                        yearRange: "-5:+5",
                        numberOfMonths: 1,
                        dateFormat:"yy-mm-dd",
                        dayNamesMin: ["S", "Pr", "A", "T", "K", "Pn", "Š"],
                        monthNamesShort: ["Saus", "Vas", "Kov", "Bal", "Geg", "Birž", "Liep", "Rugpj", "Rugs", "Spal", "Lapkr", "Gruo"]

                    })
                to = $( "#to" ).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-5:+5",
                    numberOfMonths: 1,
                    dateFormat:"yy-mm-dd",
                    dayNamesMin: ["S", "Pr", "A", "T", "K", "Pn", "Š"],
                    monthNamesShort: ["Saus", "Vas", "Kov", "Bal", "Geg", "Birž", "Liep", "Rugpj", "Rugs", "Spal", "Lapkr", "Gruo"]

                })
                function getDate( element ) {
                    var date;
                    try {
                        date = $.datepicker.parseDate( dateFormat, element.value );
                    } catch( error ) {
                        date = null;
                    }

                    return date;
                }
            } );
        </script>

    {% endblock %}
{% endblock %}