{% extends "::usermenu.html.twig" %}

{% block title %}Reitingas{% endblock %}

{% block body %}


 <center>
    <h3 class="divTitle">BENDRAS GERIAUSIŲ ŽAIDĖJŲ SĄRAŠAS</h3>
<div style="width:50%">
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Vardas</th>
        <th>Pavardė</th>
        <th>Komanda</th>
        <th>Rezultatas</th>


    </tr>
    </thead>

    <tbody>

    {% for rank in reitingas %}

        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ rank.vardas }}</td>
            <td>{{ rank.pavarde }}</td>
            <td>{{ rank.komanda }}</td>
            <td>{{ rank.result }}</td>

        </tr>

    {% endfor %}

    </tbody>
</table>
</div>
</center>
{% endblock %}