{% extends "::usermenu.html.twig" %}

{% block title %}Įranga{% endblock %}

{% block body %}

{% block content %}
   {#  <a  href={{ path('profileUser', {'id': asmuo.id}) }} > <- Grįžti atgal</a> #}
   {# <input type="button" value="<- Grįžti atgal"  class="btn btn-danger" onclick="history.back()"> #}
    <center>
        <div style="width:50%">
            <h3 class="divTitle">JŪSŲ ĮRANGA</h3><br>

        
            {% if kiekis != 0 %}
            <table class="table table-striped">
            <thead>
            <th>TIPAS</th>
            <th>KOKYBĖ</th>
            <th>NUOMOS TERMINAS</th>
            <th>KAINA</th>
            </thead>
                {% for ir in iranga %}
                <thead>
                <td> {{ ir.tipas }} </td>
                <td> {{ ir.kokybe }} </td>
                <td> <b>nuo:</b> {{ ir.isnuomojimoPradzia|date('Y-m-d') }}<br> <b>iki:</b> {{ ir.isnuomojimoPabaiga|date('Y-m-d') }}</td>
                <td> {{ ir.suma }} €</td>
                </thead>
                {% endfor %}
            {% else %}
                <h3> Kol kas dar nieko neišsinuomojote.. Norite išsinuomoti inventorių? <a href="{{ path('equipment') }}">Keliaukite -></a> </h3>
            {% endif %}
        </table>
    </div>
</center>
{% endblock %}
 <center><input type="button" value="Grįžti atgal"  class="btn btn-danger" onclick="history.back()"></center>
{% endblock %}