{% extends "::usermenu.html.twig" %}

{% block title %}Turnyrai{% endblock %}

{% block body %}
 
{% block content %}
    {# <a  href={{ path('profileUser', {'id': asmuo.id}) }} > <- Grįžti atgal</a> #}
    {# <input type="button" value="<- Grįžti atgal"  class="btn btn-danger" onclick="history.back()"> #}
    <center>
        <div style="width:50%">
            <h3 class="divTitle">TURNYRAI, KURIUOSE DALYVAUSITE</h3><br>

        
            {% if kiekis != 0 %}
            <table class="table table-striped">
            <thead>
            <th>DATA</th>
            <th>LAIKAS</th>
            <th>AIKŠTYNO INFORMACIJA</th>
            <th>TURNYRO PAVADINIMAS</th>
            </thead>
                {% for turnyras in turnyrai %}
                <thead>
                <td> {{ turnyras.data|date('Y-m-d')}}</td>
                <td> {{ turnyras.pradziosLaikas|date('H:i:s') }} - {{ turnyras.pabaigosLaikas|date('H:i:s') }}</td>
                <td> {{ turnyras.aikstynoInfo }}</td>
                <td> {{ turnyras.pavadinimas }}</td>
                <td>
                    <a  href={{ path('tournment_delete', {'id': turnyras.tid}) }} onclick="return confirm('Ar tikrai norite panaikinti dalyvavimą turnyre?')">NAIKINTI</a>
                </td>
                </thead>
                {% endfor %}
            {% else %}
                <h3> Kol kas turnyruose dar nedalyvaujate. Norite sudalyvauti? <a href="{{ path('tournments') }}" >Keliaukite -> </a></h3>
            {% endif %}
        </table>
    </div>
</center>
{% endblock %}
 <center><input type="button" value="Grįžti atgal"  class="btn btn-danger" onclick="history.back()"></center>
{% endblock %}