{% extends '::adminmenu.html.twig' %}

{% block body %}
    <h1>Vartotojas</h1>

    <table>
        <tbody>
            <tr>
                <th>Vardas</th>
                <td>{{ asmuo.vardas }}</td>
            </tr>
            <tr>
                <th>Pavardė</th>
                <td>{{ asmuo.pavarde }}</td>
            </tr>
            <tr>
                <th>El. paštas</th>
                <td>{{ asmuo.elPastas }}</td>
            </tr>
            <tr>
                <th>Asmens kodas</th>
                <td>{{ asmuo.asmensKodas }}</td>
            </tr>
            {#<tr>#}
                {#<th>Slaptažodis</th>#}
                {#<td>{{ asmuo.slaptazodis }}</td>#}
            {#</tr>#}
            <tr>
                <th>Vartotojo tipas</th>
                <td>{{ tipas.name }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ asmuo.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('asmuo_index') }}">Atgal į sąrašą</a>
        </li>
        <li>
            <a href="{{ path('asmuo_edit', { 'id': asmuo.id }) }}">Redaguoti</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Šalinti">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
