{% extends '::adminmenu.html.twig' %}

{% block body %}
   <center> <h1>Vartotojas</h1>
<div style="width:30%">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Vardas</th>
                <td>{{ asmuo.vardas }}</td>
            </tr>
            <tr>
                <th>Pavardė</th>
                <td>{{ asmuo.pavarde }}</td>
            </tr>
            <tr>
                <th>El. paštas</th>
                <td>{{ asmuo.elPastas }}</td>
            </tr>
            <tr>
                <th>Asmens kodas</th>
                <td>{{ asmuo.asmensKodas }}</td>
            </tr>
            {#<tr>#}
                {#<th>Slaptažodis</th>#}
                {#<td>{{ asmuo.slaptazodis }}</td>#}
            {#</tr>#}
            <tr>
                <th>Vartotojo tipas</th>
                <td>{{ tipas.name }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ asmuo.id }}</td>
            </tr>
        </tbody>
    </table>
</div>
   </center>


           <center> <a href="{{ path('asmuo_index') }}" class="btn btn-default">Atgal į sąrašą</a>


            <a href="{{ path('asmuo_edit', { 'id': asmuo.id }) }}" class="btn btn-default">Redaguoti</a>

            {{ form_start(delete_form) }}
               <input onclick="return confirm('Ar tikrai norite pašalinti vartotoją?')" type="submit" value="Šalinti">
            {{ form_end(delete_form) }}
           </center>
{% endblock %}
